@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171933;
    color: white;
    font-family: Poppins, sans-serif;
    margin: 0;
}

button {
    display: inline-flex;
    align-items: center;
    padding: 1rem 2rem;
    background: #8b5cf6;
    color: white;
    text-decoration: none;
    border: transparent;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
    gap: 1rem;
    margin-top: 2rem;
    
    &:hover {
        background: #7c3aed;
        transform: translateY(-2px);
    }
    
}

.character-container {
    margin-top: 2rem;
}

.card {
    background: transparent;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 2rem;
    border: 1px solid rgba(139, 92, 246, 0.2);
    cursor: pointer;
    
    &:hover {
        transform: translateY(-5px);
        border-color: #8b5cf6;
    }
    
    h2 {
        text-align: center;
        margin: 1rem;
        font-size: 2rem;
    }

    img {
        width: 100%;
    }
}